.navbar {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--color-black);
  z-index: 50;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navLeft {
  display: none;
  flex: 1;
}

.navLeft h1 {
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-size: 2.5rem;
}

.navLeft h1 div {
  color: var(--color-neon);
  margin-top: 8px;
}

.logoImg {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logoImg img {
  max-width: 200px;
  height: auto;
}

.logoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
}

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoMain {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.logoSub {
  font-family: var(--font-display);
  font-size: 0.875rem;
  color: var(--color-gray);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  /* margin-top: 0.25rem; */
}

.menuDesktop {
  flex: 1;
  display: none; /* Mobile first */
}

/* Styles Desktop */
@media (min-width: 768px) {
  .menuDesktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
  }
  
  .navLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logoImg img {
    max-width: 250px;
  }
}

@media (max-width: 1050px) {
  .navLeft h1 {
    font-size: 2rem;
  }
}

.btnNeon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid var(--color-neon);
  border-radius: 9999px;
  color: var(--color-neon);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 12rem;
  transition: all 0.3s;
}

.btnNeon:hover {
  background-color: var(--color-neon);
  color: var(--color-black);
  /* box-shadow: 0 0 15px rgba(204, 255, 0, 0.3); */
}

.mobileBtn {
  background: none;
  border: none;
  color: var(--color-neon);
  font-size: 1.5rem;
  display: block;
}

@media (min-width: 768px) {
  .mobileBtn { display: none; }
}

.mobileMenu {
  background-color: var(--color-black);
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileMenu a {
  color: var(--color-neon);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
}