:root {
  --color-black: #171717;
  /* --color-dark: #1a1a1a; */
  --color-dark: #1c1c1c;
  --color-neon: #d6ff3f;
  --color-gray: #888888;
  --color-white: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* <--- Fluidité supplémentaire sur iOS */
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utilitaires globaux */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Scrollbar hide utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  footer > .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .linkContainer {
    align-items: center;
  }
}